@import "../utils/var.scss";
@import "../utils/mixin.scss";

//#region Button
$--button-default-background-color: transparent !default;
$--button-default-font-color: $--color-text-primary !default;
//#endregion

@include b(button) {
  cursor: pointer;
  outline: none; // 去掉聚焦时的轮廓
  appearance: none;
  white-space: nowrap;
  border: $--border-base;
  border-radius: $--border-radius-base;
  text-shadow: 0 0 1px $--color-primary-light-9;

  & + & {
    margin-left: 5px;
  }

  // 各种类型 由 commonType 遍历生成
  // primary, success, warning, danger, info
  @at-root {
    @include commonType(sn-button);
  }

  // 各种尺寸 由 commonSize 遍历生成
  // medium, small, mini
  @at-root {
    @include commonSize(sn-button);
  }

  // 禁止时 处理
  @include when(disabled) {
    @include commonShadow(disabled);
  }

  &:not(.is-disabled) {
    &:active {
      transform: translateX(1px) translateY(1px) scale(0.99);
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
